* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0.5rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #e6e6e6;
}

.container {
  animation: fadeIn 2s linear;
  position: relative;
  z-index: 9999;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
    background-color: black;
  }
  to {
    opacity: 1;
    background-color: #222831;
  }
}
