.Contact {
  margin-top: 10rem;
  position: relative;
  margin-bottom: 5rem;
  & h1 {
    color: #00adb5;
    text-align: center;
    font-size: 3rem;
  }

  & p {
    text-align: center;
    color: #f6f6f6;
    font-size: 1.2rem;
  }

  & .contactform {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;

    margin: 0 25vw;
    margin-top: 3rem;

    @media only screen and (max-width: 1400px) {
      margin: 0 15vw;
      margin-top: 3rem;
    }
    @media only screen and (max-width: 700px) {
      margin: 0 5vw;
      margin-top: 3rem;
      grid-template-columns: repeat(1, 90vw);
    }

    & input:focus,
    & textarea:focus {
      outline: none;
      background-color: #363636;
    }

    & input,
    & textarea {
      padding: 0.5rem 1rem;
      background-color: #363636;
      border: none;
      border-radius: 5px;
      height: 50px;
      color: #eeeeee;
      font-size: 1.2rem;
    }

    & #contact-name {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 90%;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      justify-self: start;
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }
    & #contact-email {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      width: 100%;
      margin-bottom: 0.5rem;
      justify-self: start;

      @media only screen and (max-width: 700px) {
        grid-row: 2 / 3;
        justify-self: start;
        grid-column: 1 / 2;
      }
    }
    & #contact-subject {
      grid-row: 2 / 3;
      grid-column: 1 / span 2;
      width: 100%;
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 700px) {
        grid-row: 3 / 4;
      }
    }
    & #contact-message {
      grid-row: 3 / 4;
      grid-column: 1 / span 2;
      width: 100%;
      resize: vertical;
      height: 100px;

      @media only screen and (max-width: 700px) {
        grid-row: 4 / 5;
      }
    }
    & button {
      grid-row: 4 / 5;
      grid-column: 1 / span 2;
      width: max-content;
      margin-top: 2rem;
      border: none;
      background-color: #eeeeee;
      color: #222831;
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      border-radius: 10px;
      transition: all 0.5s;

      @media only screen and (max-width: 700px) {
        grid-row: 5 / 6;
      }
    }
    & button:focus {
      outline: none;
    }
    & button:hover {
      transform: translateY(-5px);
      box-shadow: 1px 2px rgba(255, 255, 255, 0.315);
      cursor: pointer;
    }
  }
}
