.header {
  text-align: center;
  height: 100vh;
  color: #eeeeee;
  position: relative;

  & h1 {
    margin-top: 10rem;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 300;

    @media only screen and (max-width: 500px) {
      margin-top: 2rem;
    }
  }

  & #name {
    color: #00adb5;
    display: block;
    font-size: 8rem;
    font-weight: 500;

    @media only screen and (max-width: 900px) {
      font-size: 6rem;
    }
  }

  & #subname {
    color: #eeeeee;
    font-weight: 300;
    font-size: 1.2rem;
  }

  & .constellation {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.8;
    height: 400px;
    width: 300px;
  }

  & .headingbtns {
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-top: 15rem;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
      width: 300px;
    }
  }
  & button {
    padding: 1rem 2rem;
    color: whitesmoke;
    background-color: #00acb5e5;
    border: none;
    border-radius: 10px;
    z-index: 10;
    transition: all 0.3s;
    font-size: 1rem;
  }
  & button:hover {
    transform: translateY(-6px) scale(1.2);
    box-shadow: 0 2px 10px rgba(236, 236, 236, 0.3);
    cursor: pointer;
  }
  & button:focus {
    outline: none;
  }
  #about {
  }
  #services {
  }
}
// 222831
// 393e46
// 00adb5
// eeeeee
// color pallette - blackish - greyish - blue - dark white
