.Projects {
  position: relative;

  & h1 {
    color: #eeeeee;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }

  & .projectsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, min-content);
    justify-items: center;
    justify-content: center;
    grid-column-gap: 2rem;
  }

  & .projectimage {
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    filter: brightness(80%);
    border-radius: 10px;
    transition: all 0.5s;
  }
  & .palmtree {
    background-image: url(../assets/palmtreegetaways.jpeg);
  }
  & .eclaire {
    background-image: url(../assets/eclaires.jpeg);
  }
  & .natours {
    background-image: url(../assets/natours.jpeg);
  }
  & .burger {
    background-image: url(../assets/reactburger.JPG);
  }
  & .projectimage:hover {
    filter: brightness(100%);
    transform: scale(1.2);
  }
}
