.Services {
  position: relative;

  & h1 {
    color: #00adb5;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  & p {
    color: #f6f6f6;
    font-size: 1.4rem;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 5rem;

    @media only screen and (max-width: 600px) {
      padding: 0 2rem;
    }

    & span {
      color: #00adb5;
      font-style: italic;
    }
  }

  & .serviceBox {
    margin-bottom: 1rem;
    border-radius: 10px;

    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;

    @media only screen and (max-width: 1000px) {
      width: 60%;
    }
    @media only screen and (max-width: 600px) {
      width: 80%;
    }

    & .service {
      background-color: #393e46;
      border-radius: 10px;
      transition: all 0.5s;
    }

    & h2 {
      color: #00adb5;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0.5rem;
      transition: all 0.5s;
    }

    & p {
      font-size: 1rem;
      padding: 1rem 2rem;
      color: #eeeeee;
    }
  }

  & .service:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 60px rgba(245, 245, 245, 0.685),
      inset 20px 0 80px rgba(255, 0, 255, 0.685), inset -20px 0 80px #0ff,
      inset 20px 0 300px rgba(255, 0, 255, 0.685),
      inset -20px 0 300px rgba(0, 255, 255, 0.562),
      0 0 50px rgba(255, 255, 255, 0.678), -10px 0 80px rgba(255, 0, 255, 0.637),
      10px 0 80px rgba(0, 255, 255, 0.63);
    & h2 {
      color: whitesmoke;
    }
  }
}
